<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name ="Main Suite">
    <test name ="groups test">
        <groups>
            <define name="Group1">
                <include name="smoke"></include>
            </define>
            <define name="Group2">
                <include name="functional"></include>
            </define>
            <define name="Group3">
                <include name="regression"></include>
            </define>
<run>
    <include name="Group1"></include>
</run>

        </groups>
       <classes>
           <class name = "tests.GroupTest"></class>

       </classes>
    </test>
</suite>


